*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e9f7;
}

main.table{
    width: 1700px;
    height: auto;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    border-radius:12px ;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

td img{
    width: 150px;
    height: 150px;
    
    vertical-align: middle;
}

table, th, td{
    padding: 16px 60px;
    border-collapse: collapse;

}

.table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}

.table-head{
    width: auto;
    height: auto;
    background-color: #fff4;
    padding: 15px 20px;
}

.list-wrapper {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.add-button{
    margin-left: 25px ;
    border-radius: 12px;
    height: 45px;
    width: 100px;
    border: none;
    background-color: #090088;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.isi-produk{
    width: auto;
    max-height: 89%;
    background-color: #fffb;
    margin: 12px 20px;
    border-radius: 12px;
    overflow: auto;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

body tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover{
    background-color: #fff6;
}

.action-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button{
    margin: 50px 10px;
    border-radius: 12px;
    width: 70px;
    height: 40px;
    border: transparent;
}

.update-button{
    border-radius: 12px;
    width: 70px;
    height: 40px;
    border: transparent;
}

.delete-button:hover{
    background-color: red;
    color: white;
}

.update-button:hover{
    background-color: 	#137a63;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.field.input input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn-submit{
    height: 35px;
    background: rgba(76,68,182,0.808);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all.3s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn-submit:hover{
    opacity: 0.82;
}

.btn-cancel{
    height: 35px;
    background: rgba(189, 13, 13, 0.808);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all.3s;
    margin-top: 10px;
    padding: 0px 10px;
    text-align: center;
    width: 400px;
}

.btn-cancel:hover{
    opacity: 0.8;
}